<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to Brunno Goncalves portifolio.</h1>
    </div>
    <div class="col-xs-12">
      <p>I'm Brunno, software developer for the past 10 years.</p>
      <p>Working full time with Oracle Siebel CRM application development, configuraion, administration, integration and everything arround Siebel.</p>
		<p>But at home, for fun, I was a web/app developer. Working with HTML5 and Cordova to build web based mobile applications for gym and personal trainer(in order to help my wife, she is a amazing Personal Trainer :-) ).</p>
		<p>For almost 2 years, working with PHP and .Net for Oi Telecom Brasil. Building custom objects and modifications needed to fit the business process into the Oracle Cloud application.</p>
		<p>Also learning new technologies, and at this moment I got to know Ruby and start reading and coding Rails.</p>
		<p>Here you can find more details about each project I worked and applications that I build. </p>
    </div>
  </div>
</div>

<%= link_to 'Users', users_path %>